#install LM Studio from https://lmstudio.ai/
#download qwen3-coder-30b-A3b-instruct.gguf model from the dropdown menu in LM Studio
# make sure turn on the API server in LM Studio settings
fastapi==0.118.3
uvicorn==0.37.0
sqlalchemy==2.0.41
python-dotenv==1.1.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
pytest==8.4.1
tomlkit==0.13.3
semver==3.0.4
rich==14.0.0
fastmcp==2.12.3
psycopg2-binary==2.9.11
click==8.3.0
prompt-toolkit==3.0.52
openai==2.3.0