#install LM Studio from https://lmstudio.ai/
#download qwen3-coder-30b-A3b-instruct.gguf model from the dropdown menu in LM Studio
# make sure turn on the API server in LM Studio settings
fastapi==0.116.1
uvicorn==0.35.0
sqlalchemy==2.0.41
python-dotenv==1.1.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
pytest==8.4.1
tomlkit==0.13.3
semver==3.0.4
build==1.2.2.post1
twine==6.1.0
jinja2==3.1.6
qwen-agent[gui,rag,code_interpreter,mcp]==0.0.29
click==8.2.1
openai==1.101.0
rich==14.0.0
fastmcp==2.12.3

